html{
    font-family: 'DM Sans', sans-serif;
}

.aside__titulo{
    margin-top:1.5rem;
}

.tablaSeleccionada {
    background-color:#007BFF!important;
    color:white!important;
}
  
.tablaNoSeleccionada {
    background-color: #FFF!important;
    color:black!important;
}

.tituloCarta{
    font-size:2rem;
    text-align: center;
}

.informacionAdicional {
    margin-top:0.5rem;
    font-size:1rem;
}
.iconoDerecha{
    position: absolute;
    display:inline;
    right: 0 !important;
}